@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --pink: #ff0078;
  --purple: #6f34f2;
  --black: #011627;
  --yellow: #ffbd2c;
  --orange: #ff5e59;
  --green: #24cb3c;
}

body {
  margin: 0;
  font-family: Rubik, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  min-height: 100vh;
  background: #ff0078;
  background: linear-gradient(157deg, #ff0078 16%, #6f34f2 90%);
}

.codeBox {
  padding: 14px;
}

.code {
  background-color: var(--black);
  max-width: 600px;
  height: auto;
  margin-bottom: 25px;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 14px;
  color: white;
  box-shadow: 0 10px 20px rgb(0 0 0 / 50%);
}

textarea:focus {
  outline: none !important;
}
textarea {
  border: none !important;
}
